swagger: '2.0'
info:
  title: Nintex AssureSign
  description: >-
    Custom connector for Nintex AssureSign API v3.7 - enables envelope
    submission, status tracking, and document management in Power Automate and
    Power Apps
  version: 1.0.0
  contact:
    name: Elections Canada
    email: support@elections.ca
host: account.assuresign.net
basePath: /api/v3.7
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  api_key:
    type: apiKey
    in: header
    name: Authorization
security:
  - api_key: []
paths:
  /authentication/apiUser:
    post:
      summary: Authenticate to Nintex API
      description: >-
        Obtain bearer token for API authentication. NOTE: This endpoint is on
        account.assuresign.net not ca1.assuresign.net. Use a separate HTTP
        action for authentication and store the token in a variable. Use
        concat('bearer ', body('HTTP')?['result']?['token']) as an Expression in
        the Initialize Variable action.
      operationId: Authenticate
      x-ms-visibility: internal
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - request
            properties:
              request:
                type: object
                required:
                  - apiUsername
                  - key
                  - contextUsername
                properties:
                  apiUsername:
                    type: string
                    description: Your Nintex AssureSign API username
                    x-ms-summary: API Username
                    default: "elections-broker-service_apdFUAke"
                  key:
                    type: string
                    description: Your Nintex AssureSign API key
                    x-ms-summary: API Key
                    default: "d55q5AeThjLeO4SR1mfVSz30t3WF4jzg"
                  contextUsername:
                    type: string
                    description: Email address of the AssureSign account user
                    x-ms-summary: Context Email
                    default: "fred.pearson@leonardocompany.ca"
                  sessionLengthInMinutes:
                    type: integer
                    description: Session token validity in minutes (use 1440 for 24hrs)
                    x-ms-summary: Session Length (Minutes)
                    default: 1440
      responses:
        '200':
          description: Authentication successful
          schema:
            type: object
            properties:
              messages:
                type: array
                items:
                  type: string
              result:
                type: object
                properties:
                  token:
                    type: string
                    description: Bearer token for subsequent API calls
                    x-ms-summary: Bearer Token
  /templates:
    get:
      summary: List templates
      description: Get all available AssureSign templates
      operationId: ListTemplates
      x-ms-visibility: important
      parameters: []
      responses:
        '200':
          description: Templates retrieved successfully
          schema:
            type: object
            properties:
              messages:
                type: array
                items:
                  type: string
              result:
                type: object
                properties:
                  templates:
                    type: array
                    items:
                      type: object
                      properties:
                        templateID:
                          type: string
                          x-ms-summary: Template ID
                        name:
                          type: string
                          x-ms-summary: Name
                        description:
                          type: string
                          x-ms-summary: Description
  /templates/{templateID}:
    get:
      summary: Get template details
      description: Retrieve details for a specific template
      operationId: GetTemplate
      parameters:
        - name: templateID
          in: path
          required: true
          type: string
          description: Template ID
          x-ms-summary: Template ID
          x-ms-url-encoding: single
      responses:
        '200':
          description: Template details retrieved
          schema:
            type: object
            properties:
              messages:
                type: array
                items:
                  type: string
              result:
                type: object
                properties:
                  templateID:
                    type: string
                    x-ms-summary: Template ID
                  name:
                    type: string
                    x-ms-summary: Name
                  description:
                    type: string
                    x-ms-summary: Description
  /submit:
    post:
      summary: Submit new envelope
      description: Submit a new envelope for signature with documents, signers, and fields
      operationId: SubmitEnvelope
      x-ms-visibility: important
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - Subject
              - Signers
            properties:
              TemplateID:
                type: string
                description: Template ID to use (optional)
                x-ms-summary: Template ID
              Subject:
                type: string
                description: Email subject line
                x-ms-summary: Subject
              Message:
                type: string
                description: Email message body
                x-ms-summary: Message
              DaysToExpire:
                type: integer
                description: Days until envelope expires
                x-ms-summary: Days to Expire
                default: 30
              ReminderFrequency:
                type: integer
                description: Days between reminders
                x-ms-summary: Reminder Frequency
                default: 3
              Signers:
                type: array
                description: List of signers
                x-ms-summary: Signers
                items:
                  type: object
                  properties:
                    Email:
                      type: string
                      x-ms-summary: Email
                    FullName:
                      type: string
                      x-ms-summary: Full Name
                    SignerOrder:
                      type: integer
                      x-ms-summary: Signer Order
              Documents:
                type: array
                description: Documents to sign
                x-ms-summary: Documents
                items:
                  type: object
                  properties:
                    FileName:
                      type: string
                      x-ms-summary: File Name
                    FileContent:
                      type: string
                      x-ms-summary: File Content (Base64)
      responses:
        '200':
          description: Envelope submitted successfully
          schema:
            type: object
            properties:
              messages:
                type: array
                items:
                  type: string
              result:
                type: object
                properties:
                  envelopeID:
                    type: string
                    x-ms-summary: Envelope ID
                  status:
                    type: string
                    x-ms-summary: Status
                  sentDate:
                    type: string
                    format: date-time
                    x-ms-summary: Sent Date
  /envelopes/{envelopeID}:
    get:
      summary: Get envelope details
      description: Retrieve complete details for a specific envelope
      operationId: GetEnvelope
      parameters:
        - name: envelopeID
          in: path
          required: true
          type: string
          description: Envelope ID
          x-ms-summary: Envelope ID
          x-ms-url-encoding: single
      responses:
        '200':
          description: Envelope details retrieved
          schema:
            type: object
            properties:
              messages:
                type: array
                items:
                  type: string
              result:
                type: object
                properties:
                  envelopeID:
                    type: string
                    x-ms-summary: Envelope ID
                  status:
                    type: string
                    x-ms-summary: Status
                  subject:
                    type: string
                    x-ms-summary: Subject
                  sentDate:
                    type: string
                    format: date-time
                    x-ms-summary: Sent Date
                  completedDate:
                    type: string
                    format: date-time
                    x-ms-summary: Completed Date
  /envelopes/{envelopeID}/status:
    get:
      summary: Get envelope status
      description: Get current status of an envelope
      operationId: GetEnvelopeStatus
      x-ms-visibility: important
      parameters:
        - name: envelopeID
          in: path
          required: true
          type: string
          description: Envelope ID
          x-ms-summary: Envelope ID
          x-ms-url-encoding: single
      responses:
        '200':
          description: Status retrieved
          schema:
            type: object
            properties:
              messages:
                type: array
                items:
                  type: string
              result:
                type: object
                properties:
                  status:
                    type: string
                    x-ms-summary: Status
                  completedDate:
                    type: string
                    format: date-time
                    x-ms-summary: Completed Date
  /envelopes/{envelopeID}/cancel:
    put:
      summary: Cancel envelope
      description: Cancel an active envelope
      operationId: CancelEnvelope
      parameters:
        - name: envelopeID
          in: path
          required: true
          type: string
          description: Envelope ID to cancel
          x-ms-summary: Envelope ID
          x-ms-url-encoding: single
      responses:
        '200':
          description: Envelope cancelled successfully
          schema:
            type: object
            properties:
              messages:
                type: array
                items:
                  type: string
  /envelopes/{envelopeID}/signingLinks:
    get:
      summary: Get signing links
      description: Retrieve signing links for all signers in an envelope
      operationId: GetSigningLinks
      x-ms-visibility: important
      parameters:
        - name: envelopeID
          in: path
          required: true
          type: string
          description: Envelope ID
          x-ms-summary: Envelope ID
          x-ms-url-encoding: single
      responses:
        '200':
          description: Signing links retrieved
          schema:
            type: object
            properties:
              messages:
                type: array
                items:
                  type: string
              result:
                type: array
                items:
                  type: object
                  properties:
                    signerEmail:
                      type: string
                      x-ms-summary: Signer Email
                    signingLink:
                      type: string
                      x-ms-summary: Signing Link
definitions: {}
parameters: {}
responses: {}
tags: []
